autoawq
auto-gptq
aqlm
flash-attn
lomo-optim
torchao
git+https://github.com/facebookresearch/detectron2.git
natten==0.17.1+torch230cu121 -f https://shi-labs.com/natten/wheels/
git+https://github.com/NetEase-FuXi/EETQ.git
