sentencepiece
tokenizers
datasets
evaluate
huggingface-hub
transformers
accelerate
peft
diffusers
opencv-python
pytesseract
timm
decord
git+https://github.com/facebookresearch/pytorchvideo

requests
librosa
soundfile
pyannote.audio
kenlm
pyctcdecode
Pillow
fire
