sentencepiece
accelerate
diffusers
espeakng
fire
librosa
Levenshtein
kenlm
nltk
ninja
peft
pytesseract
pytest-xdist
pytest-env
pytest-excel
sacrebleu
sacremoses
scikit-learn
soundfile
wandb
Werkzeug
openpyxl
decord
pyctcdecode
timm
phonemizer
py-cpuinfo
deepspeed
optuna
sigopt
onnx
